<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Menu</title>
</head>

<body>
    <script src="../js/jquery-1.11.3.js"></script>
    <div id="rodape" class="principal">
        <a href= '/menu'><img src='/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">
            
            <button class="button-top">Produto</button>

            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastro</a>
                <a href='/menu/editar-produto'>Editar</a></button>
                <a href='/menu/importar-produto'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/editar-despesa'>Editar</a></button>
                <a href='/menu/importar-despesa'>Importar</a>
            </div>
        </div>
        
        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastro</a>
                <a href='/menu/editar-produto'>Editar</a></button>
                <a href='/menu/importar-produto'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>

    <br>
</body>

</html>