<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Menu</title>
</head>

<body onload="readData()">
    <script src="../js/jquery-1.11.3.js"></script>
    <div id="rodape" class="principal">
        <a href='/menu'><img src='/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">

            <button class="button-top">Produto</button>

            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Editar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Editar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Editar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>

        <input type="hidden" id="#ID" value="">
        <strong>DATA</strong> <input type="date" id="#DATA" value="">
        <strong>DESCRIÇÃO</strong> <input type="text" id=#DESCRICAO value="">
        <strong>VALOR</strong> <input type="number" id=#VALOR value="">
        <strong>OBSERVAÇÃO</strong> <input type="text" id=#OBSERVACAO value="">
        <button onclick="enviarAlteracao()"> Alterar! </button>

    <script>

        function readData() {
            var xhttp = new XMLHttpRequest();

            var url_string = window.location.href;
            var url = new URL(url_string);
            var idValue = url.searchParams.get("id");

            console.log(idValue);


            var tipo = "POST"

            var url = "/menu/sendIdDespesa?=" + idValue;

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var body = { id: idValue }

            xhttp.send(JSON.stringify(body));

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    var valores = JSON.parse(this.responseText);

                    var sub = document.getElementById("#ID").value = valores[0].id; // seta nos campos value do formulario
                    var sub = document.getElementById("#DATA").value = valores[0].data;
                    var sub = document.getElementById("#DESCRICAO").value = valores[0].descricao;
                    var sub = document.getElementById("#VALOR").value = valores[0].valor;
                    var sub = document.getElementById("#OBSERVACAO").value = valores[0].observacao;


                }
            };

        }

        function enviarAlteracao(){

            var alterId = document.getElementById("#ID").value;
            var alterData = document.getElementById("#DATA").value;
            var alterDescricao = document.getElementById("#DESCRICAO").value;
            var alterValor = document.getElementById("#VALOR").value;
            var alterObs = document.getElementById("#OBSERVACAO").value;

            var xhttp = new XMLHttpRequest();

            var tipo = "POST"

            var url = "/menu/editandoDespesa";

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            
            var body = {id: alterId, data: alterData, descricao: alterDescricao, valor: alterValor, observacao: alterObs}

            xhttp.send(JSON.stringify(body));
            alert("Alterado com sucesso!");
            window.location.href = "/menu/listar-despesas";

        }

    </script>

</body>

</html>