<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Produtos</title>
</head>

<body onload="readData()">
    <script src="../../jquery-1.11.3.js"></script>
    <div id="rodape" class="principal">
        <a href='/menu' id="imagem-logo"><img src='/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">

            <button class="button-top">Produto</button>

            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Listar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Listar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Listar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>

    <hr>

    <input type="hidden" id="#ID" value="">
    Código: <input type="text" name="codigo" id="#CODIGO" value="">
    Tipo: <select name="tipo" id="#TIPO">
        <option value="INFANTIL">INFANTIL</option>
        <option value="JUVENIL">JUVENIL</option>
        <option value="ADULTO">ADULTO</option>
    </select>
    Descrição: <input type="text" name="descricao" value="" id="#DESCRICAO">
    Sexo: <select name="sexo" id="#SEXO">
        <option value="M">M</option>
        <option value="F">F</option>
        <option value="U">U</option>
    </select>
    Tamanho: <input type="text" name="tamanho" value="" id="#TAMANHO">
    Grupo: <select name="grupo" id="#GRUPO">
        <option value="ROUPAS">ROUPAS</option>
        <option value="ACESS.">ACESS.</option>
        <option value="CALÇADO">CALÇADO</option>
    </select> <br>
    Preço de Custo: <input type="number" name="precoCusto" step="0.01" value="" id="#PRECOCUSTO">
    %: <input type="number" name="porcento" id="#PORCENTAGEM">
    Preço de Venda: <input type="number" name="precoVenda" step="0.01" value="" id="#PRECOVENDA">
    Foto: <input type="text" name="foto" value="" id="#FOTO">
    <br>
    Data de Venda: <input type="date" name="dataVenda" value="" id="#DATAVENDA">
    Vendido: <input type="text" name="vendido" value="" id="#VENDIDO">
    Pago: <select name="pago" id="#PAGO">
        <option value=""> </option>
        <option value="OK">OK</option>
        <option value="OK/PL">OK/PL</option>
    </select>

    <button onclick="filtrarProdutos()">Pesquisar!</button>
    
    <button onclick="exportarExcel()">Exportar!</button>
    <hr>
    <div class="menu-listagem">
        <table id="TABELA" align="center">
            <tr>
                <th><strong>CÓDIGO</strong></th>
                <th><strong>TIPO</strong></th>
                <th><strong>DESCRIÇÃO</strong></th>
                <th><strong>SEXO</strong></th>
                <th><strong>TAMANHO</strong></th>
                <th><strong>GRUPO</strong></th>
                <th><strong>PREÇO DE CUSTO</strong></th>
                <th><strong>%</strong></th>
                <th><strong>PREÇO DE VENDA</strong></th>
                <th><strong>DATA DE VENDA</strong></th>
                <th><strong>VENDIDO</strong></th>
                <th><strong>PAGO</strong></th>
                <th><strong>FOTO</strong></th>
                <th><strong>EDITAR</strong></th>
                <th><strong>EXCLUIR</strong></th>

            </tr>
        </table>
    </div>
    <script> //script de requisição e respostas de dados do banco
        function readData() {

            var xhttp = new XMLHttpRequest();

            var tipo = "POST"
            /*
            tipo pode ser POST, GET, DELETE, PATCH depende do que vc quer
            */

            var url = "/menu/sendProdutos";

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var body = {}

            xhttp.send(JSON.stringify(body));

            // ---------- Resposta da requisição feita acima ---------------//

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    resposta = JSON.parse(this.responseText)
                    console.log(resposta);
                    for (x = 0; x < resposta.length; x++) {

                        var linha = document.createElement('tr')

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].codigo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].tipo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].descricao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].sexo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].tamanho);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].grupo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].preco_custo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].porcentagem);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].preco_venda);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].data_venda);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].vendido);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);


                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].pago);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var photo = document.createElement("td");
                        photo.innerHTML = "<img src='/" + resposta[x].foto + "'id='fotoProduto' width='75' height='75'>";
                        linha.appendChild(photo);

                        var botaoEdit = document.createElement("td");
                        botaoEdit.innerHTML = "<a href = '/menu/editar-produto?id=" + resposta[x].id + "'>" +
                            "<img src='/editar.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoEdit);

                        var botaoDelete = document.createElement("td");
                        botaoDelete.innerHTML = "<a href = '/menu/excluir-produto?id=" + resposta[x].id + "'>" +
                            "<img src='/delete.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoDelete);

                        document.getElementById("TABELA").appendChild(linha)

                    }

                }

            }
        }
    </script>

    <script>
        function filtrarProdutos() {  // não esta funcando ainda os filtros

            var linhasTotais = document.getElementById("TABELA").rows.length; // retorna a coleção de linhas da tabela para contagem posterior
            var tabela = document.getElementById("TABELA");
            for (x = 1; x < linhasTotais; x++) {
                tabela.deleteRow(1);
            }
            var xhttp = new XMLHttpRequest();

            var tipo = "POST"

            var url = "/menu/filtroProdutos";

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var filtroCodigo = document.getElementById("#CODIGO").value;
            var filtroTipo = document.getElementById("#TIPO").value;
            var filtroDescricao = document.getElementById("#DESCRICAO").value;
            var filtroSexo = document.getElementById("#SEXO").value;
            var filtroTamanho = document.getElementById("#TAMANHO").value;
            var filtroGrupo = document.getElementById("#GRUPO").value;
            var filtroPrecoCusto = document.getElementById("#PRECOCUSTO").value;
            var filtroPorcentagem = document.getElementById("#PORCENTAGEM").value;
            var filtroPrecoVenda = document.getElementById("#PRECOVENDA").value;
            var filtroFoto = document.getElementById("#FOTO").value;
            var filtroDataVenda = document.getElementById("#DATAVENDA").value;
            var filtroVendido = document.getElementById("#VENDIDO").value;
            var filtroPago = document.getElementById("#PAGO").value;

            var body = {
                codigo: filtroCodigo, tipo: filtroTipo, descricao: filtroDescricao, sexo: filtroSexo,
                tamanho: filtroTamanho, grupo: filtroGrupo, preco_custo: filtroPrecoCusto,
                porcentagem: filtroPorcentagem, preco_venda: filtroPrecoVenda, foto: filtroFoto,
                data_venda: filtroDataVenda, vendido: filtroVendido, pago: filtroPago
            }

            xhttp.send(JSON.stringify(body));

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    resposta = JSON.parse(this.responseText)
                    console.log(resposta);
                    for (x = 0; x < resposta.length; x++) {

                        var linha = document.createElement('tr')

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].codigo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].tipo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].descricao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].sexo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].tamanho);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].grupo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].preco_custo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].porcentagem);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].preco_venda);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].data_venda);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].vendido);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);


                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].pago);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var photo = document.createElement("td");
                        photo.innerHTML = "<img src='/" + resposta[x].foto + "' width='75' height='75'>";
                        linha.appendChild(photo);

                        var botaoEdit = document.createElement("td");
                        botaoEdit.innerHTML = "<a href = '/menu/editar-produto?id=" + resposta[x].id + "'>" +
                            "<img src='/editar.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoEdit);

                        var botaoDelete = document.createElement("td");
                        botaoDelete.innerHTML = "<a href = '/menu/excluir-produto?id=" + resposta[x].id + "'>" +
                            "<img src='/delete.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoDelete);

                        document.getElementById("TABELA").appendChild(linha)

                    }

                }

            }
        }
    </script>
        <script>
            function exportarExcel() {
                
                var element_id = "TABELA";
                var name = "tabela";
    
                function base64(s) {
                    return window.btoa(unescape(encodeURIComponent(s)))
                }
    
                function format(s, c) {
                    return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; })
                }
    
                var uri = 'data:application/vnd.ms-excel;base64,'
                var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><?xml version="1.0" encoding="UTF-8" standalone="yes"?><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    
                var table = document.getElementById(element_id)
                var ctx = { worksheet: name, table: table.innerHTML }
    
                var a = document.createElement('a');
                a.href = uri + base64(format(template, ctx).replace(/<input type="checkbox" class="no-print">/g, ""))
                a.download = name + '.xls';
                a.click();
    
                downloadSheet("TABELA")
    
            }
    
        </script>

</body>

</html>