<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Produtos</title>
</head>

<body onload="readData()">
    <script src="../../jquery-1.11.3.js"></script>
    <div id="rodape" class="principal">
        <a href='/menu' id="imagem-logo"><img src='/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">

            <button class="button-top">Produto</button>

            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Listar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Listar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Listar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>
    <hr>
    DATA: <input type="date" id="filtroData">
    DESCRIÇÃO: <input type="text" id="filtroDescricao">
    VALOR: <input type="number" id="fitroValor">
    OBSERVAÇÃO: <input type="test" id="filtroObservacao">
    <button onclick="filtrarDespesas()">Pesquisar!</button>
    <hr>
    <div class="menu-listagem">
        <table id="TABELA" align="center">
            <tr>
                <th><strong>DATA</strong></th>
                <th><strong>DESCRIÇÃO</strong></th>
                <th><strong>VALOR</strong></th>
                <th><strong>OBSERVAÇÃO</strong></th>
                <th><strong>EDITAR</strong></th>
                <th><strong>DELETAR</strong></th>
            </tr>
        </table>
    </div>
    <script> //script de requisição e respostas de dados do banco
        function readData() {

            var xhttp = new XMLHttpRequest();

            var tipo = "POST"
            /*
            tipo pode ser POST, GET, DELETE, PATCH depende do que vc quer
            */

            var url = "/menu/sendDespesas";

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var body = {}

            xhttp.send(JSON.stringify(body));

            // ---------- Resposta da requisição feita acima ---------------//

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    resposta = JSON.parse(this.responseText)

                    for (x = 0; x < resposta.length; x++) {

                        var linha = document.createElement('tr')

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].data);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].descricao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].valor);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].observacao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var botaoEdit = document.createElement("td");
                        botaoEdit.innerHTML = "<a href = '/menu/editar-despesa?id=" + resposta[x].id + "'>" +
                            "<img src='/editar.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoEdit);

                        var botaoDelete = document.createElement("td");
                        botaoDelete.innerHTML = "<a href = '/menu/excluir-despesa?id=" + resposta[x].id + "'>" +
                            "<img src='/delete.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoDelete);

                        document.getElementById("TABELA").appendChild(linha)

                    }

                }

            }
        }
    </script>

    <script>
        function filtrarDespesas() {  

            var linhasTotais = document.getElementById("TABELA").rows.length; // retorna a coleção de linhas da tabela para contagem posterior
            var tabela = document.getElementById("TABELA");
            for (x = 1; x < linhasTotais; x++) {
                tabela.deleteRow(1);
            }
            var xhttp = new XMLHttpRequest();

            var tipo = "POST"

            var url = "/menu/filtroDespesas";

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var filtroData = document.getElementById("filtroData").value;
            var filtroDescricao = document.getElementById("filtroDescricao").value;
            var fitroValor = document.getElementById("fitroValor").value;
            var filtroObservacao = document.getElementById("filtroObservacao").value;

            var body = { data: filtroData, descricao: filtroDescricao, valor: fitroValor, observacao: filtroObservacao }

            xhttp.send(JSON.stringify(body));

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {

                    resposta = JSON.parse(this.responseText)

                    for (x = 0; x < resposta.length; x++) {

                        var linha = document.createElement('tr')

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].data);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].descricao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].valor);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].observacao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var botaoEdit = document.createElement("td");
                        botaoEdit.innerHTML = "<a href = '/menu/editar-despesa?id=" + resposta[x].id + "'>" +
                            "<img src='/editar.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoEdit);

                        var botaoDelete = document.createElement("td");
                        botaoDelete.innerHTML = "<a href = '/menu/excluir-despesa?id=" + resposta[x].id + "'>" +
                            "<img src='/delete.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoDelete);

                        document.getElementById("TABELA").appendChild(linha)

                    }
                }

            }
        }
    </script>

</body>

</html>