<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Fornecedor</title>
</head>

<body onload="readData()">
    <script src="../../jquery-1.11.3.js"></script>
    <div id="rodape" class="principal">
        <a href='/menu' id="imagem-logo"><img src='/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">

            <button class="button-top">Produto</button>

            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Listar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Listar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Listar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>

    <hr>

    <input type="hidden" id="#ID" value="">
    Nome: <input type="text" name="nome" id="#NOME" value="">
    Endereço: <input type="text" name="endereco" id="#ENDERECO" value="">
    Bairro: <input type="text" name="bairro" value="" id="#BAIRRO">
    CEP: <input type="text" name="cep" value="" id="#CEP">
    Municipio: <input type="text" name="municipio" value="" id="#MUNICIPIO">
    Estado: <input type="text" name="estado" value="" id="#ESTADO">
    Telefone: <input type="text" name="telefone" value="" id="#TELEFONE">
    Celular: <input type="text" name="celular" id="#CELULAR">
    CNPJ/CPF: <input type="text" name="cnpjcpf" value="" id="#CNPJCPF">
    Grupo: <input type="text" name="grupo" value="" id="#GRUPO">
    Situação: <input type="text" name="situacao" value="" id="#SITUACAO">
    Data de Nascimento: <input type="date" name="data_nascimento" value="" id="#DATANASCIMENTO">
    Observação: <input type="text" name="observacao" value="" id="#OBSERVACAO">

    <button onclick="filtrarFornecedores()">Pesquisar!</button>
    <hr>
    <div class="menu-listagem">
        <table id="TABELA" align="center">
            <tr>
                <th><strong>NOME</strong></th>
                <th><strong>ENDEREÇO</strong></th>
                <th><strong>BAIRRO</strong></th>
                <th><strong>CEP</strong></th>
                <th><strong>MUNICIPIO</strong></th>
                <th><strong>ESTADO</strong></th>
                <th><strong>TELEFONE</strong></th>
                <th><strong>CELULAR</strong></th>
                <th><strong>E-MAIL</strong></th>
                <th><strong>CNPJ/CPF</strong></th>
                <th><strong>GRUPO</strong></th>
                <th><strong>SITUAÇÃO</strong></th>
                <th><strong>DATA NASCIMENTO</strong></th>
                <th><strong>OBSERVAÇÃO</strong></th>
                <th><strong>EDITAR</strong></th>
                <th><strong>EXCLUIR</strong></th>

            </tr>
        </table>
    </div>
    <script> //script de requisição e respostas de dados do banco
        function readData() {

            var xhttp = new XMLHttpRequest();

            var tipo = "POST"
            /*
            tipo pode ser POST, GET, DELETE, PATCH depende do que vc quer
            */

            var url = "/menu/sendFornecedores";

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var body = {}

            xhttp.send(JSON.stringify(body));

            // ---------- Resposta da requisição feita acima ---------------//

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    resposta = JSON.parse(this.responseText)
                    console.log(resposta);
                    for (x = 0; x < resposta.length; x++) {

                        var linha = document.createElement('tr')

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].nome);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].endereco);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].bairro);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].cep);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].municipio);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].estado);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].telefone);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].celular);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].email);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].cnpj_cpf);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].grupo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);


                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].situacao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].data_nascimento);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].observacao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var botaoEdit = document.createElement("td");
                        botaoEdit.innerHTML = "<a href = '/menu/editar-produto?id=" + resposta[x].id + "'>" +
                            "<img src='/editar.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoEdit);

                        var botaoDelete = document.createElement("td");
                        botaoDelete.innerHTML = "<a href = '/menu/excluir-produto?id=" + resposta[x].id + "'>" +
                            "<img src='/delete.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoDelete);

                        document.getElementById("TABELA").appendChild(linha)

                    }

                }

            }
        }
    </script>

    <script>
        function filtrarFornecedores() {  // não esta funcando ainda os filtros

            var linhasTotais = document.getElementById("TABELA").rows.length; // retorna a coleção de linhas da tabela para contagem posterior
            var tabela = document.getElementById("TABELA");
            for (x = 1; x < linhasTotais; x++) {
                tabela.deleteRow(1);
            }
            var xhttp = new XMLHttpRequest();

            var tipo = "POST"

            var url = "/menu/filtroFornecedores";

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var filtroNome = document.getElementById("#NOME").value;
            var filtroEndereco = document.getElementById("#ENDERECO").value;
            var filtroBairro = document.getElementById("#BAIRRO").value;
            var filtroCep = document.getElementById("#CEP").value;
            var filtroMunicipio = document.getElementById("#MUNICIPIO").value;
            var filtroEstado = document.getElementById("#ESTADO").value;
            var filtroTelefone = document.getElementById("#TELEFONE").value;
            var filtroCelular = document.getElementById("#CELULAR").value;
            var filtroCNPJCPF = document.getElementById("#CNPJCPF").value;
            var filtroGrupo = document.getElementById("#GRUPO").value;
            var filtroSituacao = document.getElementById("#SITUACAO").value;
            var filtroDataNascimento = document.getElementById("#DATANASCIMENTO").value;
            var filtroObservacao = document.getElementById("#OBSERVACAO").value;

            var body = {
                nome: filtroNome, Endereco: filtroEndereco, Bairro: filtroBairro, cep: filtroCep,
                municipio: filtroMunicipio, estado: filtroEstado, Telefone: filtroTelefone,
                celular: filtroCelular, cnpj_cpf: filtroCNPJCPF, grupo: filtroGrupo,
                situacao: filtroSituacao, data_nascimento: filtroDataNascimento, observacao: filtroObservacao
            }

            xhttp.send(JSON.stringify(body));

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    resposta = JSON.parse(this.responseText)
                    console.log(resposta);
                    for (x = 0; x < resposta.length; x++) {

                        var linha = document.createElement('tr')

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].nome);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].endereco);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].bairro);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].cep);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].municipio);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].estado);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].telefone);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].celular);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].email);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].cnpj_cpf);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].grupo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);


                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].situacao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].data_nascimento);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].observacao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var botaoEdit = document.createElement("td");
                        botaoEdit.innerHTML = "<a href = '/menu/editar-produto?id=" + resposta[x].id + "'>" +
                            "<img src='/editar.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoEdit);

                        var botaoDelete = document.createElement("td");
                        botaoDelete.innerHTML = "<a href = '/menu/excluir-produto?id=" + resposta[x].id + "'>" +
                            "<img src='/delete.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoDelete);

                        document.getElementById("TABELA").appendChild(linha)

                    }

                }

            }
        }
    </script>

</body>

</html>