<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>

<body>

    <div id="rodape" class="principal">
        <a href='/menu'><img src='/logo.jpeg'></a>
    </div>
    <br>

    <form action="/menu" id=menu-login method="POST">
        <div id="menu-login-interno">
            Usuário:
            <input type="text" name="username" id="username"><br>
            Senha:
            <input type="password" name="password" id="password">
            <button type="submit" id='login'> Login </button>
        </div>
    </form>


    <script>
        /*
        document.getElementById("login").addEventListener("click", logar);
        var nome = document.getElementsByName("username");
        var senha = document.getElementsByName("password");

        logar => {
            if(nome == 'admin' && senha == '12345'){

            }
        }
        */
    </script>

</body>

</html>