<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/style.css">
    <title>Login</title>
</head>
<body>

    <div id="rodape" class="principal">
        <h1><strong>Conceitos Brechó</strong></h1>
    </div>
    <br>

    <form action="/produto" id = menu-login method="POST">

        Usuário: 
        <input type="text" name="username" id="username"><br>
        Senha: 
        <input type="password" name="password" id="password">
        <button type="submit"> Login </button>

    </form>
    <script>
        /*
        var menu = window.document.getElementById('rodape');
        
        menu.addEventListener('click', clicar);

        var login = window.document.getElementById('login');
        login.addEventListener('click', logar)

        function clicar(){
            menu.innerHTML = "Click!" //clicar no logo.
        }
    */
    </script>

</body>
</html>