<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icons/logo.jpeg" type="image/x-icon">
    <title>Login</title>
</head>

<body>  
    <div id="rodape" class="principal">
        <a href='/menu'><img src='/icons/logo.jpeg'></a>
    </div>

    <form action="/menu" id=menu-login method="POST">
        <div class="formsContainer" id="formsContainer">
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Usuário: </label>
                <input type="text" name="username" id="username">
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Senha: </label>
                <input type="password" name="password" id="password">
            </div>
            <button class="filterButtons" type="submit" id='login'> Login </button>
        </div>
    </form>


    <script>
        /*
        document.getElementById("login").addEventListener("click", logar);
        var nome = document.getElementsByName("username");
        var senha = document.getElementsByName("password");

        logar => {
            if(nome == 'admin' && senha == '12345'){

            }
        }
        */
    </script>

</body>

</html>