<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icons/logo.jpeg" type="image/x-icon">
    <title>Menu</title>
</head>

<body onload="readData()">
    <div id="rodape" class="principal">
        <a href='/menu'><img src='/icons/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">
            <button class="button-top">Produto</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Listar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Listar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Listar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>
    <div class="showMenuInfosContainer" id="showMenuInfosContainer">
        <div class="filterTuple" id="filterTuple">
            <label class="menuLabel">COMPRA:</label>
            <div class="moedaEValor">
                <label class="tipoMoeda">R$</label>
                <label class="valor" id="#COMPRA"></label>
            </div>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="menuLabel">VENDA:</label>
            <div class="moedaEValor">
                <label class="tipoMoeda">R$</label>
                <label class="valor" id="#VENDA"></label>
            </div>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="menuLabel">LUCRO:</label>
            <div class="moedaEValor">
                <label class="tipoMoeda">R$</label>
                <label class="valor"id="#LUCRO"></label>
            </div>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="menuLabel">DESPESAS (OK):</label>
            <div class="moedaEValor">
                <label class="tipoMoeda">R$</label>
                <label class="valor"id="#DESPESASPAGAS"></label>
            </div>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="menuLabel">DESPESAS (A PAGAR):</label>
            <div class="moedaEValor">
                <label class="tipoMoeda">R$</label>
                <label class="valor"id="#DESPESASAPAGAR"></label>
            </div>
        </div>
    </div>

    <script>
        function readData() {

            var xhttp = new XMLHttpRequest(); //REQUEST pra buscar os valores dos produtos vendidos
            var tipo = "GET"
            var url = "/menu/busca-produtos-vendidos";

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var body = {}

            xhttp.send(JSON.stringify(body));

            // ---------- Resposta da requisição feita acima ---------------//

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    resposta = JSON.parse(this.responseText);
                    document.getElementById("#VENDA").innerHTML = resposta.valorVenda.toFixed(2);
                    document.getElementById("#COMPRA").innerHTML = resposta.valorCompra.toFixed(2);
                    document.getElementById("#LUCRO").innerHTML = resposta.valorLucro.toFixed(2);
                    document.getElementById("#DESPESASPAGAS").innerHTML = resposta.valorDespesasPagas.toFixed(2);
                    document.getElementById("#DESPESASAPAGAR").innerHTML = resposta.valorDespesasAPagar.toFixed(2);
                }
            }
        }
    </script>
</body>

</html>