#rodape{

    background-color: rgb(233, 195, 195);
    text-align: center;
    color: rgb(219, 3, 3);
    height: 1%;
    width: 100%;
    position: static;
}
#imagem-logo{
    height: 10px;
    width: 10px;
}

#barra-principal{
    background-color: rgb(115, 222, 236);
    text-align: center;
    word-spacing: 5px; 
    word-spacing: 10px; 
    position: relative;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.filtersContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: 1%;
    justify-content: start;
}
.filterTuple{
    margin-right: 1%;
}

.button-top {
    background-color: rgb(255, 247, 132);
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-style: inherit;

}

.button-top a {
    text-decoration: none;
    color: black;
}

.dropdown-top{
    position: relative;
    display: inline-block;

}

.dropdown-top-conteudo{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.63); /* sombra do dropdown (fora)*/
    z-index: 1;
    text-align: justify;
    word-spacing: 0px;
    

}

.dropdown-top-conteudo a {

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-top-conteudo a:hover {
    
    background-color: rgb(212, 212, 202)   /* conteudo do dropdown*/
}

.dropdown-top:hover .dropdown-top-conteudo {
    display: block;
  }

.dropdown-top:hover .button-top {
    background-color: rgb(121, 175, 255);
}

#TABELA {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#TABELA td, #TABELA th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#TABELA tr:nth-child(even){background-color: #f2f2f2;}
  
#TABELA tr:hover {background-color: #ddd;}
  
#TABELA th {

    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(234, 169, 253);
    color: white;
    
}

#fotoProduto{
    width: 45px;
    height: 45px;
}
#fotoProduto:hover{
    width: 500px;
    height: 500px;
    position: absolute;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin-left: -50%;
    margin-top: -30%;

}

input[type=submit]:hover, select{
    background-color: rgb(253, 253, 213);
}

input[type=text], select {
  width: 150px;
  padding: 5px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
    width: 150px;
    padding: 5px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 150px;
    padding: 5px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=date], select {
    width: 130px;
    padding: 5px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
}

#Filtros{
    background-color: whitesmoke;
    word-spacing: 5px;
}

.menu-listagem{
    margin-top: 1%;
}

.pagination-container {
    text-align: center;
    margin-top: 1%;
}

.pagination {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    display: inline;
    margin: 5px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination li.active {
    background-color: #ff0000;
    color: #fff;
}
.filterButtonContainer{
    margin-left: 5%;
    align-self: center;
}
.filterButtons{
    height: 30px;
}