<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icons/logo.jpeg" type="image/x-icon">
    <title>Novo Produto</title>
</head>

<body>
    <div id="rodape" class="principal">
        <a href='/menu'><img src='/icons/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">
            <button class="button-top">Produto</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Listar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Listar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Listar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>

    <form action="/menu/saveProduto" name="form-cadastros" method="POST" enctype="multipart/form-data">
        <div class="formsContainer" id="formsContainer">
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Código: </label> 
                <input type="text" name="codigo" id="#CODIGO" value="">
            </div> 
            <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Tipo: </label>
                <select name="tipo" id="#TIPO">
                    <option value=""> </option>
                    <option value="INFANTIL">INFANTIL</option>
                    <option value="JUVENIL">JUVENIL</option>
                    <option value="ADULTO">ADULTO</option>
                </select>
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Descrição: </label>
                <input type="text" name="descricao" value="" id="#DESCRICAO">
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Sexo: </label>
                <select name="sexo" id="#SEXO">
                    <option value=""> </option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                    <option value="U">Unissex</option>
                </select>
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Tamanho: </label>
                <input type="text" name="tamanho" value="" id="#TAMANHO">
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Grupo: </label>
                <select name="grupo" id="#GRUPO">
                    <option value=""> </option>
                    <option value="ROUPAS">ROUPAS</option>
                    <option value="ACESS.">ACESS.</option>
                    <option value="CALÇADO">CALÇADO</option>
                </select>
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Preço de Custo: </label>
                <input type="number" name="preco_custo" step="0.01" value="" id="#PRECOCUSTO">
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">%: </label>
                <input type="number" name="porcentagem" id="#PORCENTAGEM">
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Preço de Venda: </label>
                <input type="number" name="preco_venda" step="0.01" value="" id="#PRECOVENDA">
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Data de Venda: </label>
                <input type="date" name="data_venda" value="" id="#DATAVENDA">
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Vendido: </label>
                <input type="text" name="vendido" value="" id="#VENDIDO">
            </div>
            <div class="filterTuple" id="filterTuple">
                <label class="filterLabel">Pago: </label>
                <select name="pago" id="#PAGO">
                    <option value=""> </option>
                    <option value="OK">OK</option>
                    <option value="OK/PL">OK/PL</option>
                </select>
            </div>
            <div class="loadPhotoContainer" id="loadPhotoContainer">
                <input type="hidden" name="id" id="#IDFOTO" value="">
                <input type="file" name="foto" id="#FOTO">
            </div>
            <button class="filterButtons" type="submit">Cadastrar!</button>
    </form>

</body>

</html>