<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Despesa</title>
</head>

<body>
    <script src="../js/jquery-1.11.3.js"></script>
    <div id="rodape" class="principal">
        <a href='/menu'><img src='/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">

            <button class="button-top">Produto</button>

            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Editar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Editar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Editar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>
    <br>

    <form action="/menu/saveProduto" name="form-cadastros" method="POST" enctype="multipart/form-data">

        Código: <input type="text" name="codigo">
        Tipo: <select name="tipo">
            <option value="INFANTIL">INFANTIL</option>
            <option value="JUVENIL">JUVENIL</option>
            <option value="ADULTO">ADULTO</option>
        </select>
        Descrição: <input type="text" name="descricao">
        Sexo: <select name="sexo">
            <option value="M">M</option>
            <option value="F">F</option>
            <option value="U">U</option>
        </select>
        Tamanho: <input type="text" name="tamanho">
        Grupo: <select name="grupo">
            <option value="ROUPAS">ROUPAS</option>
            <option value="ACESS.">ACESS.</option>
            <option value="CALÇADO">CALÇADO</option>
        </select>
        Preço de Custo: <input type="number" name="precoCusto" step="0.01">
        %: <input type="number" name="porcento">
        Preço de Venda: <input type="number" name="precoVenda" step="0.01">
        Data de Venda: <input type="date" name="dataVenda">
        Vendido: <input type="text" name="vendido">
        Pago: <select name="pago">
            <option value=" "> </option>
            <option value="OK">OK</option>
            <option value="OK/PL">OK/PL</option>
        </select>

        <input type="file" name="foto" id="#FOTO" value="">

        </script>
        <button type="submit">Cadastrar!</button>
    </form>


</body>

</html>