<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icons/logo.jpeg" type="image/x-icon">
    <title>Editar Produto</title>
</head>

<body onload="readData()">
    <script src="../js/jquery-1.11.3.js"></script>
    <div id="rodape" class="principal">
        <a href='/menu'><img src='/icons/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">

            <button class="button-top">Produto</button>

            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Listar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Listar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Listar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>

    <div class="formsContainer" id="formsContainer">
        <input type="hidden" name="id" id="#ID" value="">
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Código: </label> 
            <input type="text" name="codigo" id="#CODIGO" value="">
        </div> 
        <div class="filterTuple" id="filterTuple">
        <label class="filterLabel">Tipo: </label>
            <select name="tipo" id="#TIPO">
                <option value=""> </option>
                <option value="INFANTIL">INFANTIL</option>
                <option value="JUVENIL">JUVENIL</option>
                <option value="ADULTO">ADULTO</option>
            </select>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Descrição: </label>
            <input type="text" name="descricao" value="" id="#DESCRICAO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Sexo: </label>
            <select name="sexo" id="#SEXO">
                <option value=""> </option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="U">Unissex</option>
            </select>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Tamanho: </label>
            <input type="text" name="tamanho" value="" id="#TAMANHO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Grupo: </label>
            <select name="grupo" id="#GRUPO">
                <option value=""> </option>
                <option value="ROUPAS">ROUPAS</option>
                <option value="ACESS.">ACESS.</option>
                <option value="CALÇADO">CALÇADO</option>
            </select>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Preço de Custo: </label>
            <input type="number" name="precoCusto" step="0.01" value="" id="#PRECOCUSTO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">%: </label>
            <input type="number" name="porcento" id="#PORCENTAGEM">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Preço de Venda: </label>
            <input type="number" name="precoVenda" step="0.01" value="" id="#PRECOVENDA">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Data de Venda: </label>
            <input type="date" name="dataVenda" value="" id="#DATAVENDA">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Vendido: </label>
            <input type="text" name="vendido" value="" id="#VENDIDO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Pago: </label>
            <select name="pago" id="#PAGO">
                <option value=""> </option>
                <option value="OK">OK</option>
                <option value="OK/PL">OK/PL</option>
            </select>
            
        </div>
        
        <div class="filterTuple" id="filterTuple">
            <div class="editPhotoContainer">
                <div id="#FOTOANTIGA"></div>
                <input type="hidden" name="id" id="#IDFOTO" value="">
                <input class="fileSelector" type="file" name="foto" id="#FOTO"> 
            </div>
        </div>
        <button class="filterButton" onclick="enviarAlteracao()">Alterar Dados!</button>
    </div>

    <script>

        function readData() {
            
            var xhttp = new XMLHttpRequest();

            var url_string = window.location.href;
            var url = new URL(url_string);
            var idValue = url.searchParams.get("id");

            var tipo = "POST"

            var url = "/menu/sendIdProduto?=" + idValue;

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var body = { id: idValue }

            xhttp.send(JSON.stringify(body));

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    var valores = JSON.parse(this.responseText);
                    console.log(valores)
                    var sub = document.getElementById("#ID").value = valores[0].id; // seta nos campos value do formulario
                    var sub = document.getElementById("#CODIGO").value = valores[0].codigo;
                    var sub = document.getElementById("#TIPO").value = valores[0].tipo;
                    var sub = document.getElementById("#DESCRICAO").value = valores[0].descricao;
                    var sub = document.getElementById("#SEXO").value = valores[0].sexo;
                    var sub = document.getElementById("#TAMANHO").value = valores[0].tamanho;
                    var sub = document.getElementById("#GRUPO").value = valores[0].grupo;
                    var sub = document.getElementById("#PRECOCUSTO").value = valores[0].preco_custo;
                    var sub = document.getElementById("#PORCENTAGEM").value = valores[0].porcentagem;
                    var sub = document.getElementById("#PRECOVENDA").value = valores[0].preco_venda;
                    var sub = document.getElementById("#DATAVENDA").value = valores[0].data_venda;
                    var sub = document.getElementById("#VENDIDO").value = valores[0].vendido;
                    var sub = document.getElementById("#PAGO").value = valores[0].pago;
                    var sub = document.getElementById("#IDFOTO").value = valores[0].id;
                }
                document.getElementById("#FOTOANTIGA").innerHTML = "<img src='/photos/" + valores[0].foto + "'class=\"fotoAntiga\"'>";
            };

        }

        function enviarAlteracao() {

            var alterId = document.getElementById("#ID").value;
            var alterCodigo = document.getElementById("#CODIGO").value;
            var alterTipo = document.getElementById("#TIPO").value;
            var alterDescricao = document.getElementById("#DESCRICAO").value;
            var alterSexo = document.getElementById("#SEXO").value;
            var alterTamanho = document.getElementById("#TAMANHO").value;
            var alterGrupo = document.getElementById("#GRUPO").value;
            var alterPrecoCusto = document.getElementById("#PRECOCUSTO").value;
            var alterPorcentagem = document.getElementById("#PORCENTAGEM").value;
            var alterPrecoVenda = document.getElementById("#PRECOVENDA").value;
            var alterDataVenda = document.getElementById("#DATAVENDA").value;
            var alterVendido = document.getElementById("#VENDIDO").value;
            var alterPago = document.getElementById("#PAGO").value;
            var foto = document.getElementById("#FOTO").files[0].name;
            
            var xhttp = new XMLHttpRequest();
            var tipo = "POST"
            var url = "/menu/editandoProduto";
            
            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            if(foto == ""){
                var body = {
                    id: alterId, codigo: alterCodigo, tipo: alterTipo, descricao: alterDescricao,
                    sexo: alterSexo, tamanho: alterTamanho, grupo: alterGrupo, preco_custo: alterPrecoCusto,
                    porcentagem: alterPorcentagem, preco_venda: alterPrecoVenda, data_venda: alterDataVenda,
                    vendido: alterVendido, pago: alterPago
                }

            }else{
                var body = {
                    id: alterId, codigo: alterCodigo, tipo: alterTipo, descricao: alterDescricao,
                    sexo: alterSexo, tamanho: alterTamanho, grupo: alterGrupo, preco_custo: alterPrecoCusto,
                    porcentagem: alterPorcentagem, preco_venda: alterPrecoVenda, data_venda: alterDataVenda,
                    vendido: alterVendido, pago: alterPago, foto:foto
                }
            }

            xhttp.send(JSON.stringify(body));
            alert("Alterado com sucesso!");
            window.location.href = "/menu/listar-produtos";
        }

    </script>

</body>

</html>