<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icons/logo.jpeg" type="image/x-icon">
    <title>Editar Produto</title>
</head>

<body onload="readData()">
    <div id="rodape" class="principal">
        <a href='/menu'><img src='/icons/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">
            <button class="button-top">Produto</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Listar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Listar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Listar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>

    <div class="formsContainer" id="formsContainer">
        <input type="hidden" name="id" id="#ID" value="">
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Código: </label> 
            <input type="text" name="codigo" id="#CODIGO" value="">
        </div> 
        <div class="filterTuple" id="filterTuple">
        <label class="filterLabel">Tipo: </label>
            <select name="tipo" id="#TIPO">
                <option value=""> </option>
                <option value="INFANTIL">INFANTIL</option>
                <option value="JUVENIL">JUVENIL</option>
                <option value="ADULTO">ADULTO</option>
            </select>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Descrição: </label>
            <input type="text" name="descricao" value="" id="#DESCRICAO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Sexo: </label>
            <select name="sexo" id="#SEXO">
                <option value=""> </option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="U">Unissex</option>
            </select>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Tamanho: </label>
            <input type="text" name="tamanho" value="" id="#TAMANHO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Grupo: </label>
            <select name="grupo" id="#GRUPO">
                <option value=""> </option>
                <option value="ROUPAS">ROUPAS</option>
                <option value="ACESS.">ACESS.</option>
                <option value="CALÇADO">CALÇADO</option>
            </select>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Preço de Custo: </label>
            <input type="number" name="precoCusto" step="0.01" value="" id="#PRECOCUSTO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">%: </label>
            <input type="number" name="porcento" id="#PORCENTAGEM">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Preço de Venda: </label>
            <input type="number" name="precoVenda" step="0.01" value="" id="#PRECOVENDA">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Data de Venda: </label>
            <input type="date" name="dataVenda" value="" id="#DATAVENDA">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Vendido: </label>
            <input type="text" name="vendido" value="" id="#VENDIDO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Pago: </label>
            <select name="pago" id="#PAGO">
                <option value=""> </option>
                <option value="OK">OK</option>
                <option value="OK/PL">OK/PL</option>
            </select>
            
        </div>
        
        <div class="filterTuple" id="filterTuple">
            <div class="editPhotoContainer">
                <div id="#DIVFOTOANTIGA"></div>
                <input type="hidden" name="id" id="#IDFOTO" value="">
                <input class="fileSelector" type="file" name="foto" id="#FOTO" value=""> 
            </div>
        </div>
        <button class="filterButton" onclick="enviarAlteracao()">Alterar Dados!</button>
    </div>

    <script>

        async function readData() {
            
            var xhttp = new XMLHttpRequest();
            var url_string = window.location.href;
            var url = new URL(url_string);
            var idValue = url.searchParams.get("id");

            var tipo = "GET"
            var url = "/menu/getProdutoById?id=" + idValue;
            await xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(null);
            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {

                    var valores = JSON.parse(this.responseText);
                    
                    document.getElementById("#ID").value = valores[0].id; // seta nos campos value do formulario
                    document.getElementById("#CODIGO").value = valores[0].codigo;
                    document.getElementById("#TIPO").value = valores[0].tipo;
                    document.getElementById("#DESCRICAO").value = valores[0].descricao;
                    document.getElementById("#SEXO").value = valores[0].sexo;
                    document.getElementById("#TAMANHO").value = valores[0].tamanho;
                    document.getElementById("#GRUPO").value = valores[0].grupo;
                    document.getElementById("#PRECOCUSTO").value = valores[0].preco_custo;
                    document.getElementById("#PORCENTAGEM").value = valores[0].porcentagem;
                    document.getElementById("#PRECOVENDA").value = valores[0].preco_venda;
                    document.getElementById("#DATAVENDA").value = valores[0].data_venda;
                    document.getElementById("#VENDIDO").value = valores[0].vendido;
                    document.getElementById("#PAGO").value = valores[0].pago;
                    document.getElementById("#IDFOTO").value = valores[0].id;
                    document.getElementById("#DIVFOTOANTIGA").innerHTML = 
                    "<img src='/photos/"+valores[0].foto+"'class=\"fotoAntiga\" name="+valores[0].foto+" id=\"#FOTOANTIGA\">";
                }
            };

        }

        function enviarAlteracao() {
            const alterDataBody = {
                id: (document.getElementById("#ID").value), 
                codigo: document.getElementById("#CODIGO").value, 
                tipo: document.getElementById("#TIPO").value, 
                descricao: document.getElementById("#DESCRICAO").value,
                sexo: document.getElementById("#SEXO").value, 
                tamanho: document.getElementById("#TAMANHO").value, 
                grupo: document.getElementById("#GRUPO").value, 
                preco_custo: document.getElementById("#PRECOCUSTO").value,
                porcentagem: document.getElementById("#PORCENTAGEM").value, 
                preco_venda: document.getElementById("#PRECOVENDA").value, 
                data_venda: document.getElementById("#DATAVENDA").value,
                vendido: document.getElementById("#VENDIDO").value, 
                pago: document.getElementById("#PAGO").value,
                foto: document.getElementById("#FOTOANTIGA").name,
            }
            if(document.getElementById("#FOTO").files[0]){
                alterDataBody.foto = document.getElementById("#FOTO").files[0].name
            }

            var xhttp = new XMLHttpRequest();
            var tipo = "POST"
            var url = "/menu/editandoProduto";
            
            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(JSON.stringify(alterDataBody));

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                   jsonResponse = JSON.parse(this.response)
                   if(jsonResponse.status == true){
                        alert(jsonResponse.result)
                        window.location.href = "/menu/listar-produtos";
                   }
                   else{
                        alert(jsonResponse.result)
                   }
                }
            };
        }

    </script>

</body>

</html>