<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icons/logo.jpeg" type="image/x-icon">
    <title>Listar Produtos</title>
</head>

<body onload="readData()">
    <div id="rodape" class="principal">
        <a href='/menu' id="imagem-logo"><img src='/icons/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">

            <button class="button-top">Produto</button>

            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Listar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Listar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Listar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>

    <div class="filtersContainer" id="filtersContainer">
        
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Código: </label> 
            <input type="text" name="codigo" id="#CODIGO" value="">
        </div> 
        <div class="filterTuple" id="filterTuple">
        <label class="filterLabel">Tipo: </label>
            <select name="tipo" id="#TIPO">
                <option value=""> </option>
                <option value="INFANTIL">INFANTIL</option>
                <option value="JUVENIL">JUVENIL</option>
                <option value="ADULTO">ADULTO</option>
            </select>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Descrição: </label>
            <input type="text" name="descricao" value="" id="#DESCRICAO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Sexo: </label>
            <select name="sexo" id="#SEXO">
                <option value=""> </option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="U">Unissex</option>
            </select>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Tamanho: </label>
            <input type="text" name="tamanho" value="" id="#TAMANHO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Grupo: </label>
            <select name="grupo" id="#GRUPO">
                <option value=""> </option>
                <option value="ROUPAS">ROUPAS</option>
                <option value="ACESS.">ACESS.</option>
                <option value="CALÇADO">CALÇADO</option>
            </select>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Preço de Custo: </label>
            <input type="number" name="precoCusto" step="0.01" value="" id="#PRECOCUSTO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">%: </label>
            <input type="number" name="porcento" id="#PORCENTAGEM">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Preço de Venda: </label>
            <input type="number" name="precoVenda" value="" id="#PRECOVENDA">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Foto: </label>
            <input type="text" name="foto" value="" id="#FOTO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Data de Venda: </label>
            <input type="date" name="dataVenda" value="" id="#DATAVENDA">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Vendido: </label>
            <input type="text" name="vendido" value="" id="#VENDIDO">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Pago: </label>
            <select name="pago" id="#PAGO">
                <option value=""></option>
                <option value="OK">OK</option>
                <option value="OK/PL">OK/PL</option>
            </select>
        </div>
        <div class="filterButtonContainer">
            <button class="filterButtons" onclick="filtrarProdutos()">Pesquisar!</button>
            <button class="filterButtons" onclick="exportarExcel()">Exportar!</button>
        </div>

    </div>
    <div class="menu-listagem">
        <table class="table" id="TABELA" align="center">
            <tr>
                <th><strong>CÓDIGO</strong></th>
                <th><strong>TIPO</strong></th>
                <th><strong>DESCRIÇÃO</strong></th>
                <th><strong>SEXO</strong></th>
                <th><strong>TAMANHO</strong></th>
                <th><strong>GRUPO</strong></th>
                <th><strong>PREÇO DE CUSTO</strong></th>
                <th><strong>%</strong></th>
                <th><strong>PREÇO DE VENDA</strong></th>
                <th><strong>DATA DE VENDA</strong></th>
                <th><strong>VENDIDO</strong></th>
                <th><strong>PAGO</strong></th>
                <th><strong>FOTO</strong></th>
                <th><strong>EDITAR</strong></th>
                <th><strong>EXCLUIR</strong></th>

            </tr>
        </table>
    </div>
    <div class="pagination-container" id="pagination-container">
        <ul class="pagination" id="pagination"></ul>
    </div>
    <script>

        async function readData() {
            var xhttp = new XMLHttpRequest();
            await xhttp.open("GET", "/menu/buscar-produtos", true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(null);

            // ---------- Resposta da requisição feita acima ---------------//

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    const resposta = JSON.parse(this.responseText)
                    const numberPerPage = 20
                    let currentPage = 1;
                    createPagination(resposta, numberPerPage)
                    displayTableItems(resposta, numberPerPage, currentPage)
                }
            }

            function displayTableItems(resposta, numberPerPage, currentPage){

                const positionInObjectArray = (currentPage-1)*numberPerPage; // calculates the selected page * number of items per page
                
                for (x = 0; x < numberPerPage; x++) {
                    try{
                        var linha = document.createElement('tr')
                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].codigo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].tipo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].descricao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].sexo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].tamanho);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].grupo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].preco_custo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].porcentagem);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].preco_venda);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].data_venda);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].vendido);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);


                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x+positionInObjectArray].pago);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var photo = document.createElement("td");
                        photo.innerHTML = "<img src='/photos/" + resposta[x+positionInObjectArray].foto + "'id='fotoProduto'>";
                        linha.appendChild(photo);

                        var botaoEdit = document.createElement("td");
                        botaoEdit.innerHTML = "<a href = '/menu/editar-produto?id=" + resposta[x+positionInObjectArray].id + "'>" +
                            "<img src='/icons/editar.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoEdit);

                        var botaoDelete = document.createElement("td");
                        botaoDelete.innerHTML = "<a href = '/menu/excluir-produto?id=" + resposta[x+positionInObjectArray].id + "'>" +
                            "<img src='/icons/delete.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoDelete);

                        document.getElementById("TABELA").appendChild(linha)
                    }catch(e){
                    }
                }
            }

            function createPagination(resposta, numberPerPage){
                let numberOfPages = resposta.length/numberPerPage;

                if(numberOfPages - Math.floor(numberOfPages)!= 0){
                    if(Math.trunc(numberOfPages) == 0){
                        numberOfPages = 1
                    }
                    else{
                        numberOfPages = (Math.trunc(numberOfPages))+1
                    }
                }
                const paginationContainer = document.querySelector('.pagination');
                const table = document.querySelector('.table')
                const rows = table.getElementsByTagName('tr');

                for (let i = 1; i <= numberOfPages; i++) {
                    const li = document.createElement('li');
                    li.textContent = i;
                    li.addEventListener('click', () => {

                        for (let i = rows.length - 1; i > 0; i--) {
                            table.removeChild(rows[i]);
                        }
                        highlightActivePage(i)
                        displayTableItems(resposta, numberPerPage, i)
                    });
                    paginationContainer.appendChild(li);
                }
            }

            function highlightActivePage(currentPage) {
                const paginationItems = document.querySelectorAll('.pagination li');
                paginationItems.forEach(item => item.classList.remove('active'));
                paginationItems[currentPage - 1].classList.add('active');
            }
        }

        function filtrarProdutos() {  // não esta funcando ainda os filtros

            var linhasTotais = document.getElementById("TABELA").rows.length; // retorna a coleção de linhas da tabela para contagem posterior
            var tabela = document.getElementById("TABELA");
            for (x = 1; x < linhasTotais; x++) {
                tabela.deleteRow(1);
            }
            var xhttp = new XMLHttpRequest();

            var tipo = "POST"

            var url = "/menu/filtroProdutos";

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            var filtroCodigo = document.getElementById("#CODIGO").value;
            var filtroTipo = document.getElementById("#TIPO").value;
            var filtroDescricao = document.getElementById("#DESCRICAO").value;
            var filtroSexo = document.getElementById("#SEXO").value;
            var filtroTamanho = document.getElementById("#TAMANHO").value;
            var filtroGrupo = document.getElementById("#GRUPO").value;
            var filtroPrecoCusto = document.getElementById("#PRECOCUSTO").value;
            var filtroPorcentagem = document.getElementById("#PORCENTAGEM").value;
            var filtroPrecoVenda = document.getElementById("#PRECOVENDA").value;
            var filtroFoto = document.getElementById("#FOTO").value;
            var filtroDataVenda = document.getElementById("#DATAVENDA").value;
            var filtroVendido = document.getElementById("#VENDIDO").value;
            var filtroPago = document.getElementById("#PAGO").value;

            var body = {
                codigo: filtroCodigo, tipo: filtroTipo, descricao: filtroDescricao, sexo: filtroSexo,
                tamanho: filtroTamanho, grupo: filtroGrupo, preco_custo: filtroPrecoCusto,
                porcentagem: filtroPorcentagem, preco_venda: filtroPrecoVenda, foto: filtroFoto,
                data_venda: filtroDataVenda, vendido: filtroVendido, pago: filtroPago
            }

            xhttp.send(JSON.stringify(body));

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    resposta = JSON.parse(this.responseText)

                    for (x = 0; x < resposta.length; x++) {
                        var linha = document.createElement('tr')

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].codigo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].tipo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].descricao);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].sexo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].tamanho);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].grupo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].preco_custo);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].porcentagem);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].preco_venda);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].data_venda);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].vendido);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);


                        var noInterno = document.createElement("td");
                        var textData = document.createTextNode(resposta[x].pago);
                        noInterno.appendChild(textData);
                        linha.appendChild(noInterno);

                        var photo = document.createElement("td");
                        photo.innerHTML = "<img src='/photos/" + resposta[x].foto +"'id='fotoProduto'>";
                        linha.appendChild(photo);

                        var botaoEdit = document.createElement("td");
                        botaoEdit.innerHTML = "<a href = '/menu/editar-produto?id=" + resposta[x].id + "'>" +
                            "<img src='/icons/editar.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoEdit);

                        var botaoDelete = document.createElement("td");
                        botaoDelete.innerHTML = "<a href = '/menu/excluir-produto?id=" + resposta[x].id + "'>" +
                            "<img src='/icons/delete.jpeg' width='25' height='25' >"
                        linha.appendChild(botaoDelete);

                        document.getElementById("TABELA").appendChild(linha)

                    }

                }

            }
        }

        function exportarExcel() {
            
            var element_id = "TABELA";
            var name = "tabela";

            function base64(s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            }

            function format(s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; })
            }

            var uri = 'data:application/vnd.ms-excel;base64,'
            var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><?xml version="1.0" encoding="UTF-8" standalone="yes"?><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'

            var table = document.getElementById(element_id)
            var ctx = { worksheet: name, table: table.innerHTML }

            var a = document.createElement('a');
            a.href = uri + base64(format(template, ctx).replace(/<input type="checkbox" class="no-print">/g, ""))
            a.download = name + '.xls';
            a.click();

            downloadSheet("TABELA")

        }

    </script>
</body>

</html>