<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/icons/logo.jpeg" type="image/x-icon">
    <title>Editar Despesa</title>
</head>

<body onload="readData()">
    <div id="rodape" class="principal">
        <a href='/menu'><img src='/icons/logo.jpeg'></a>
    </div>

    <div id="barra-principal">

        <button class="button-top"> <a href='/menu'>Home</a></button>

        <div class="dropdown-top">
            <button class="button-top">Produto</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-produto'>Cadastrar</a>
                <a href='/menu/listar-produtos'>Listar</a></button>
                <a href='/menu/importar-produtos'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Despesa</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-despesa'>Cadastrar</a>
                <a href='/menu/listar-despesas'>Listar</a></button>
                <a href='/menu/importar-despesas'>Importar</a>
            </div>
        </div>

        <div class="dropdown-top">
            <button class="button-top">Fornecedor</button>
            <div class="dropdown-top-conteudo">
                <a href='/menu/cadastro-fornecedor'>Cadastrar</a>
                <a href='/menu/listar-fornecedores'>Listar</a></button>
                <a href='/menu/importar-fornecedores'>Importar</a>
            </div>
        </div>
        <button class="button-top"> <a href='/sobre'>Sobre</a></button>
    </div>

    <div class="formsContainer" id="filtersContainer">
        <input type="hidden" name="id" id="#ID" value="">
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Data:  </label> 
            <input type="date" name="data" id="#DATA" value="">
        </div> 
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Descrição:  </label> 
            <textarea class="textArea" name="descricao" id=#DESCRICAO value=""></textarea>
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Valor: </label>
            <input type="number" name="valor" id=#VALOR value="" step="0.01">
        </div>
        <div class="filterTuple" id="filterTuple">
            <label class="filterLabel">Observação: </label>
            <textarea class="textArea" name="observacao" id=#OBSERVACAO value=""></textarea>
        </div>
        <button class="filterButtons" onclick="enviarAlteracao()"> Alterar Dados! </button>
    </div>

        

    <script>

        function readData() {
            var xhttp = new XMLHttpRequest();
            var url_string = window.location.href;
            var url = new URL(url_string);
            var idValue = url.searchParams.get("id");
            var tipo = "POST"
            var url = "/menu/sendIdDespesa?=" + idValue;

            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            var body = { id: idValue }
            xhttp.send(JSON.stringify(body));

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    var valores = JSON.parse(this.responseText);
                    console.log(valores)
                    var sub = document.getElementById("#ID").value = valores[0].id; // seta nos campos value do formulario
                    var sub = document.getElementById("#DATA").value = valores[0].data;
                    var sub = document.getElementById("#DESCRICAO").value = valores[0].descricao;
                    var sub = document.getElementById("#VALOR").value = valores[0].valor;
                    var sub = document.getElementById("#OBSERVACAO").value = valores[0].observacao;


                }
            };

        }

        function enviarAlteracao(){

            var alterDataBody = {
                id: document.getElementById("#ID").value, 
                data: document.getElementById("#DATA").value, 
                descricao: document.getElementById("#DESCRICAO").value, 
                valor:  document.getElementById("#VALOR").value, 
                observacao: document.getElementById("#OBSERVACAO").value
            }

            var xhttp = new XMLHttpRequest();
            var tipo = "POST"
            var url = "/menu/editandoDespesa";
            xhttp.open(tipo, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");

            xhttp.send(JSON.stringify(alterDataBody));

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                   jsonResponse = JSON.parse(this.response)
                   if(jsonResponse.status == true){
                        alert(jsonResponse.result)
                        window.location.href = "/menu/listar-despesas";
                   }
                   else{
                        alert(jsonResponse.result)
                   }
                }
            };

        }

    </script>

</body>

</html>